
@{
    ViewData["Title"] = "Testimonials";
    Layout = "~/Views/Shared/_Layout_website.cshtml";
}

   <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Testimonials</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Testimonials</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">
            <div class="testimonial-item">
              <h3>Chebara Secondary School</h3>
   
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                We have been using the chair designed by Supreme Sai Enterprise for the past few months and we are  happy. The ergonomic design has greatly reduced our back pain, and the sleek style adds a modern touch to our  office. I highly recommend these chairs to anyone in need of a comfortable and stylish seating option.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-item">
              <h3>A.I.C Kapsowar M.T.C</h3>
   
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                The chairs designed by Supremesai enterprise has allowed students to sit for longer periods of time without any discomfort. The craftsmanship is top-notch and the materials used are of high quality. We highly recommend these chairs to anyone looking for a comfortable and well-designed seating solution.  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

         

        </div>

      </div>
    </section><!-- End Testimonials Section -->


