<?xml version="1.0" encoding="utf-8"?>
<publishData>
	<publishProfile
	  profileName="supremesai-001-site1 - Web Deploy"
	  publishMethod="MSDeploy"
	  publishUrl="https://win5119.site4now.net:8172/msdeploy.axd?site=supremesai-001-site1"
	  msdeploySite="supremesai-001-site1"
	  userName="supremesai-001"
	  userPWD="11338499s"
	  destinationAppUrl="http://supremesai-001-site1.gtempurl.com/"
	  SQLServerDBConnectionString=""
	  mySQLDBConnectionString=""
    />
</publishData>